<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>TcpClient-lab</title>
		<link asp-append-version="true" href="~/Style/bootstrap.min.css" rel="stylesheet" />
		<link asp-append-version="true" href="~/Style/site.css" rel="stylesheet" />
	</head>
	<body>
		<header class="fixed-top">
			<nav class="container-fluid navbar navbar-expand-md navbar-dark bg-dark">
				<a class="navbar-brand" href="/">TlsClient-lab</a>
			</nav>
		</header>
		<main class="container-md" role="main">
			@RenderBody()
		</main>
		<script asp-append-version="true" src="~/Scripts/bootstrap.min.js"></script>
	</body>
</html>