@model Form
<form method="post">
	<div class="mb-3">
		<label asp-for="Host">Host</label>
		<input asp-for="Host" autofocus="autofocus" class="form-control" placeholder="example.org" />
	</div>
	<div class="mb-3">
		<label asp-for="Port">Port</label>
		<input asp-for="Port" class="form-control" />
	</div>
	<div class="mb-3 text-end">
		<button class="btn btn-primary" type="submit">Submit</button>
	</div>
</form>